  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hbr.org/resources/images/article_assets/2020/07/Jul20_30_FraziskaBarczyk-1024x576.jpg);">
    <div class="container">
      <h1>Conspiracy Tea-ory, <strong>make tea-time great again</strong>!</h1>
      <p>Dive into conspiracy theories with their greatest ambassadors.</p>
      <button class="btn btn-flat"> <%= link_to "Rent now", theorists_path %> </button>
    </div>
  </div>


<div class="title container">
<h4>Tea-time with inspiring people:</h4>
</div>

<div class="container">
<div class="row">

  <div class="grid">
    <%@theorists.first(16).each do |theorist|%>
    <div class="card-theorist">
      <div class="image-rating-card">
        <div class="image">
          <img src=<%="https://i.pravatar.cc/150?img=#{theorist.photonum.to_i}"%>/>
        </div>
        <div class="card-theorist-infos">


              <h2><%=theorist.stage_name%></h2>
              <p><%=theorist.main_theory%></p>
            </div>
          </div>
          <div class="rating-and-price">
            <div class="rating">
              <h2 class="card-theorist-rating"><%=rand(0.1...5.0).round(1)%>/5</h2>
            </div>
            <div class="price">
              <h2 class="card-theorist-pricing">from <%=rand(45.00...500.00).round(2)%>€</h2>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    </div>
</div>
