  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hbr.org/resources/images/article_assets/2020/07/Jul20_30_FraziskaBarczyk-1024x576.jpg);">
    <div class="container">
      <h1>Conspiracy Tea-ory, <strong>make tea-time great again</strong>!</h1>
      <p>Dive into conspiracy theories with their greatest ambassadors.</p>
      <button class="btn btn-flat"> <%= link_to "Rent now", theorists_path %> </button>
    </div>
  </div>


<div class="title container">
  <h4>Tea-time with inspiring people:</h4>
</div>


  <div class="grid">
    <%@theorists.first(15).each do |theorist|%>
      <%=link_to theorist_path(theorist) do %>
        <div class="card-theorist">
          <div class="image-rating-card">
            <div class="image">
              <% if theorist.photo.attached?%>
                <% cl_image_tag(theorist.photo.key)%>
              <% else %>
                <img src=<%="https://i.pravatar.cc/150?img=#{theorist.photonum.to_i}"%>/>
              <% end %>
            </div>
            <div class="card-theorist-infos">

              <h2><%=theorist.stage_name%></h2>
              <p><%=theorist.main_theory%></p>
            </div>
          </div>
          <div class="rating-and-price">
            <div class="rating">
              <h2 class="card-theorist-rating">
                <%if theorist.reviews.empty? %>
                  <p>No reviews yet.</p>
                <%else%>
                  <% total_rating = 0 %>
                  <% theorist.reviews.each do |review| %>
                    <% total_rating += review.rating %>
                  <% end %>
                <% theorist_rating = total_rating / theorist.reviews.length %>
                <%= theorist_rating.round(2) %>/5
                <%end%>
              </h2>
            </div>
            <div class="price">
              <h2 class="card-theorist-pricing">from <%= theorist.price.round(0) %> €</h2>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>

    <div class="d-flex px-5 justify-content-center">
      <button type="button" class="btn btn-light btn-block"> <%= link_to "See all Theorist", theorists_path %> </button>
    </div>
