<div class="container">
  <h1>Overview of our theorists</h1>
  <br>

  <div class="container">
  <%= form_with url: theorists_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "search by theorist or by theory"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
  <% @theorists.each do |theorist| %>
  <div class="card-product m-2">
   <% if theorist.photo.key.nil? %>
      <img src=<%="https://i.pravatar.cc/150?img=#{rand(1..70)}"%> alt= <%= theorist.stage_name %>/>
    <% else %>
   <%# <% raise %>
      <%= cl_image_tag theorist.photo.key, crop: :fill %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= theorist.stage_name %></h2>
      <p>This theorist believes in the <strong> <%= theorist.main_theory %></strong> theory. Learn more about this theory <strong><%= link_to "here", theorist.sources, html_options = { target: "_blank"}%></strong></p>
      <p>Based in <strong> <%= theorist.location %></strong> and charging <%= theorist.price.to_i %>€ / hour</strong>.</p>
      <p><%= link_to "more information", theorist_path(theorist) %></p>
    </div>
  </div>
  <% end %>

  <%= link_to "add theorist", new_theorist_path, class:"btn btn-flat" %>

</div>
