
<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hbr.org/resources/images/article_assets/2020/07/Jul20_30_FraziskaBarczyk-1024x576.jpg)">
    <h1><%= @theorist.stage_name %></h1>
  </div>
</div>
<div class="container theorist-show-card">
    <div class="profile">
    <div class = d-flex>
      <div>
        <img src=<%="https://i.pravatar.cc/150?img=#{@theorist.photonum.to_i}"%> alt="" class="rounded-circle">
      </div>
      <br>
      <div class="details" id="theorist-details">
        <p><%= @theorist.stage_name %> focuses mainly on <strong><%= @theorist.main_theory %></strong>:</p>
        <p><%= @theorist.theory_description %></p>
        <%= link_to "link to theory", @theorist.sources, class: "btn btn-flat" %>
      </div>
      <br>
    </div>
  </div>
  <div class="booking-form">
    <h4>book <%= @theorist.stage_name %> here:</h4>
    <br>
    <%= render "bookings/form", locals: {theorist: @theorist, booking: @booking} %>
  </div>
</div>

<%# Sorry for this, just the syntaxes %>

<div class="container">
  <div class="reviews-section">
    <div class="profile">
      <h4>What other users think about <%= @theorist.stage_name %></h4>
      <% @theorist.reviews.each do |review| %>
          <div class="border m-2 p-2">
            <p><%= review.created_at %> by <%= review.user.email %> </p>
            <p><%= review.comment %></p>
            Rating: <%= review.rating %>
          </div>
      <% end %>
    </div>
    <div class="review-form booking-form">
      <h4>Leave a review for <%= @theorist.stage_name %></h4>
      <%= render "reviews/form", locals: {theorist: @theorist, review: @review} %>
    </div>
  </div>
  <%= link_to "back to theorists", theorists_path, class: "btn btn-flat" %>
</div>
